*.pt
*.mp4
*.avi
*.mov
.DS_Store
**/.DS_Store
__pycache__/
*/__pycache__/
input_videos/
output_videos/soccernet_data/
output_videos/main_camera_debug_frames/
output_videos/non_game_debug_frames/
crops/
